.link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #40a4c8;
  color: #ffffff;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-color: #285a9b;
  border-radius: 10px;
  font-weight: 600;
  transform: scale(1.1);
  opacity: 0.5;
}
