.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 3rem;
  font-size: 1.7rem;
}
.pageTitle {
  text-align: center;
}
.subtext {
  color: #808080;
  font-size: 1.65rem;
  opacity: 0.8;
}
.heading {
  color: #40a4c8;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  margin-top: 0.5rem;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 82%;
  margin: 7rem auto;
  gap: 2rem;
}
.details {
  width: 47%;
  list-style: none;
  color: #40a4c8;
}
.icon {
  width: 3rem;
  height: 3rem;
}
.title {
  color: #ffffff;
  padding: 10px 0;
  font-size: 2.2rem;
}
.formLabel {
  margin-bottom: 4px;
}
.text {
  font-style: italic;
  margin-bottom: 50px;
}
.info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 3rem;
  width: fit-content;
}
.value {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}
a.value {
  color: #808080;
}
a.value:hover {
  color: #40a4c8;
}

@media only screen and (max-width: 1200px) {
  .contact {
    font-size: 1.75rem;
  }
  .main {
    width: 86%;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    width: 90%;
  }
  .details {
    width: 47%;
  }
  .value {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    width: 80%;
  }
  .details {
    width: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .subtext {
    font-size: 1.8rem;
  }
  .heading {
    font-size: 3.3rem;
  }
  .title {
    font-size: 2.3rem;
  }
}
